.events-section {
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.events-title {
    color: var(--heading-color);
    margin-bottom: 3rem;
}

.events-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.event-card {
    margin: 0 2rem;
    border-radius: 10px;
    overflow: hidden;
}

.event-image {
    border-radius: 10px;
    width: 300px;
    max-height: 300px;
    min-height: 300px;
    /* object-fit: cover; */
}

.event-info {
    padding: 1rem;
}

.event-date,
.event-name {
    margin: 0.5rem 0;
}

.timetable-button {
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    margin: 1rem 0;
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-white-color);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

@media (max-width: 500px) {
    .events-container {
        flex-direction: column;
    }

    .event-card {
        margin: 0;
    }
}
