.container {
    background-color: rgb(44, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This makes the container take up the full viewport height */
    text-align: center; /* This centers the text within the container */
}

h1 {
    color: #fff;
}

.construction-img {
    max-width: 50%; /* Adjust this value to make the image smaller or larger */
    height: auto; /* This ensures the image's aspect ratio is maintained */
}
